*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hero{
    width: 100%;
    min-height: 100vh;
    background-image: url(assets/images/);
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 100;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: medium dashed green;
}


.logo{
    width: 140px;
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
    transition: 0.5s;
}

nav ul li:hover{
    color: #00796b;
    transform: scale(1.5);
    
}

nav ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #00796b;
    display: block;
    margin: auto;
    transition: 1s;
}

nav ul li :hover::after{
    width: 100%;
}

nav ul li a{
    text-decoration: none;
    color: #333;
    font-weight: 400;
}

.login-btn{
    text-decoration: none;
    color: #333;
    margin-right: 15px;
    font-weight: 400;
    transition: 0.5s;
}
.login-btn:hover{
    color: #1acbeb;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    background-image: linear-gradient(45deg, #008102, #8fe31c);
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
}

.btn:hover{
    border-top-right-radius: 30px;
}

.content{
    margin-top: 175px;
    max-width: 600px;
}

.content h1{
    font-size: 70px;
    color: #00796b;
    animation-delay: 2s;
}

.content2{
    width: 755px;
}

.content2 h2{
    margin:10px 0 30px;
    width: 755px;
    color: #1acbeb;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    animation: typing 3.5s steps(40)  forwards, fade-in 0.5s 4.5s forwards;
    visibility: hidden;
    animation-delay: 4.5s;
    
}

.content2 h2::after{
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 2px;
    background: #008102;
    right: 0;
    top: 0;
    animation: cursor 1s infinite;
}

@keyframes typing {
    from{width: 0;}
    to{width: 100%;}
}

@keyframes cursor{
    0%{ opacity: 1; }
    50%{ opacity: 0; }
    100%{ opacity: 1; }
}

@keyframes fade-in {
    to { visibility: visible; opacity: 1; }
}

.content2 .btn{
    padding: 15px 80px;
    font-size: 16px;
    animation-delay: 3s;
}


.feature-img{
    margin-bottom: 100px;
    position: absolute;
    bottom: 0;
    right: 7%;
}

.feature-img.anim{
    animation-delay: 0.5s;
}

.anim{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 1s linear forwards;
}
@keyframes moveup{
    100%{
        opacity: 1;
        transform:  translateY(0px);
    }
}


footer{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    transform: translate(0%,-5%);
    /* background-color: #000000ff; */
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 3rem 1rem;
}
.container {
   max-width: 1140px;
   margin: 0 auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}
.row{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.col{
   min-width: 250px;
   color:#f2f2f2f2;
   font-family: poppins;
   padding:0 2rem;
}
.col .logo{
   width: 100px;
   margin-bottom:25px;
}
.col h3{
   color:#8fe31c;
   margin-bottom: 20px;
   position: relative;
   cursor: pointer;
}
.col h3::after{
   content: '';
   height:3px;
   width:0px;
   background-color: #1acbeb;
   position: absolute;
   bottom: 0;
   left:0;
   transition: 0.3s ease;

}
.col h3:hover::after{
   width:30px
}
.col .social a i{
   color:#fff;
   margin-top:2rem;
   margin-right: 5px;
   transition: 0.3s ease;
}
.col .social a i:hover{
   transform: scale(1.5);
   
   color: #00796b;
}
.col .links a{
   display: block;
   text-decoration: none;
   color:#f2f2f2;
   margin-bottom: 5px;
   position: relative;
   transition: 0.3s ease;
}
.col .links a::before{
   content:'';
   height: 16px;
   width:3px;
   position: absolute;
   top:5px;
   left:-10px;
   background-color: #1acbeb;
   transition: 0.5s ease;
   opacity: 0;
}
.col .links a:hover::before{
   opacity: 1;
}
.col .links a:hover{
   transform: translateX(-8px);
   color:#1acbeb;
}
.col .contact-details{
   display: inline-flex;
   justify-content: space-between;
}
.col .contact-details i{
   margin-right:15px;
}
.row .form{
   display: flex;
   justify-content: center;
   align-items: center;
   padding:2rem 0;
}
.row .form input{
   background-color: #1a1c20ff;
   border:0;
   outline:none;
   padding:14px 20px;
   border-radius: 6px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
.form button{
   padding:14px 20px;
   border:0;
   border-radius: 6px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   background-color: #1acbeb;
}

.titre{
    display: flex;
    align-items: center;
}